{% extends "WebApp/template.html" %}

{% block form %}

<div class="centered" style="margin-top:220px">
    <div class="login-page-form-container">
        <h1 class="page-title" style="color:white; padding-bottom: 20px">Upload File</h1>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div style="padding: 8px; background-color: white">
                {{ form.document }}
            </div>
            <div style="padding: 15px;">
                <input type="submit" class="upload-page-buttons buttons">
            </div>
            <p id='noUser'>{{errorMessage}}</p>
        </form>
    </div>
</div>

{% endblock %}